<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop12</title>
</head>
<body>
    <!-- 
        action="#" overrides the original html action
        th:action has to link to the path specified in the @Postmapping handler
        method="post" will map to the @Postmapping handler in the controller
    -->
    <h1>How many numbers do you wish to generate?</h1>
    <form
     action="#"
     th:action="@{/generate}" 
     th:object="${generate}"
     method="post"
    >
    <p>
            <input type="text" th:field="*{numberVal}"/>
            <input type="submit" value="Generate"/>
    </p>
    </form>
</body>
</html>